@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('./static/uni.ttf') format('truetype');
}
@font-face {
	font-family: nuskin;
	font-weight: normal;
	font-style: normal;
	src: url('./static/nuskin.ttf') format('truetype');
}
.nuskinIcon{
	font-family: nuskin;
}
/*通用 */
/*每个页面公共css */
	view,
	scroll-view,
	swiper,
	swiper-item,
	cover-view,
	cover-image,
	icon,
	text,
	rich-text,
	progress,
	button,
	checkbox,
	form,
	input,
	label,
	radio,
	slider,
	switch,
	textarea,
	navigator,
	audio,
	camera,
	image,
	video {
		line-height: 1;
		box-sizing: border-box;
		flex-shrink: 0;
	}
view{
	font-family:"Lantinghei SC",Verlag,PingFangSC-Light;
	color:#333;
}
progress, checkbox-group{
	width: 100%;
}
form {
	width: 100%;
}
.navBarCenterPic{
	width:58rpx;
	height:58rpx;
}
.navBarIcon{
	font-size: 42rpx;
	color: #49b3c9;
}
.navBar .left .navBarIcon,.navBar .left .navBarText{
	margin-right: 37rpx;
}
.navBar .right .navBarIcon,.navBar .right .navBarText{
	margin-left: 37rpx;
}
.navBarBack{
	font-size: 42rpx;
	font-weight: bold;
	margin-right: 37rpx;
}
.navBarText{
	color: #49b3c9;
	font-size: 30rpx;
}
.destop{
	background-color: #fff;
}
.destop .content{
	overflow: auto;
}