@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('./static/uni.ttf') format('truetype');
}

/*通用 */
/*每个页面公共css */
	view,
	scroll-view,
	swiper,
	swiper-item,
	cover-view,
	cover-image,
	icon,
	text,
	rich-text,
	progress,
	button,
	checkbox,
	form,
	input,
	label,
	radio,
	slider,
	switch,
	textarea,
	navigator,
	audio,
	camera,
	image,
	video {
		line-height: 1;
		box-sizing: border-box;
	}
view{
	font-family:"Lantinghei SC",Verlag,PingFangSC-Light
}
progress, checkbox-group{
	width: 100%;
}
form {
	width: 100%;
}
